
<body>
      <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/picture/home6.jpg"  width="100%" height="100%"  >
    
            <div class="container">
              <div class="carousel-caption text-start"> 
                <h1>Example headline.</h1>
                <p>Edit</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">GO TO</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    </body>

    <!-- Table -->
    <div class="container">

      <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"><img src="../assets/picture/logo2.png" /></th>
      <th scope="col"></th>
      <th scope="col"><img src="../assets/picture/logo1.png" /></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">資本金
</th>
      <td>11,200,000 Baht</td>
      <td>&nbsp;</td>
      <td>2,500,000 Baht</td>
    </tr>
    <tr>
      <th scope="row">設立</th>
      <td>2010.02.11</td>
      <td>&nbsp;</td>
      <td>2011.03.18</td>
    </tr>
    <tr>
      <th scope="row">代表</th>
      <td colspan="2">高橋基成</td>
      <td>高橋基成</td>
    </tr>
    <tr>
    <th scope="row">取締役</th>
      <td colspan="2">内田康司</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row"></th>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row">主要取引先</th>
      <td colspan="2">DAIICHI SYSTEM ENGINEERING CO., LTD.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row"></th>
      <td colspan="2">DAIFUKU(THAILAND) LTD.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row"></th>
      <td colspan="2">DENSO(THAILAND) CO., LTD.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row">関連会社</th>
      <td colspan="2">DCR     株式会社第一コンピュータリソース</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row"></th>
      <td colspan="2">DSE     株式会社第一システムエンジニアリング</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row"></th>
      <td colspan="2">Larry the Bird</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row"></th>
      <td colspan="2">海外     BEIJIN DCR CO., LTD.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <th scope="row"></th>
      <td colspan="2">海外     Myanmar DCR CO., LTD.</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
    <!-- ag grid -->
    
  
    <hr class="featurette-divider">

    


        
    
      

     