

    <header id="header">
    <div class="container">
          <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">THAI DCR</a></h1>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li ><a href="/home">Home</a></li>
              <li><a href="/company">Company</a></li>
              <li class="menu-active"><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact</a></li>
              
              <li class="menu-has-children"><a href="">Playground</a>
                <ul>
                  <li><a href="#">Icon test </a></li>
                  <li><a href="#">Gird test </a></li>
                  <li><a href="#">New page</a></li>
                  <li><a href="#">Drop Down 5</a></li>
                </ul>
              </li>
               <li class="menu-has-children"><a href="">Playground</a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                  <li><a href="#">Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </nav><!-- nav-menu -->
        </div>
      </header><!-- header -->
    

      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/picture/home6.jpg"  width="100%" height="100%"  >
    
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Example headline.</h1>
                <p>Edit</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">GO TO</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
      <!-- Service -->
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
          </div>
        </div>
        <div class="row">
          <!--<div class="col-md-3"-->
            <div class="wow fadeInLeft" data-wow-delay="0.2s">
              <div class="service-box">
                <div class="service-icon">
                  <img src="../assets/picture/service1.png" alt="" />
                </div>
                <div class="service-desc">
        
                  <h4>Thai DCR Co., Ltd.</h4>
          <table width="900" align="center">
    <tr>
      <td width="308"><h4><p> エンジニアリングサービス</p></h4></td>
      <td width="55">&nbsp;</td>
      <td width="426"><h4><p> ソフトウエア開発</p></h4></td>
    </tr>
    <tr>
      <td>総合物流システムの機械設計 </td>
      <td>&nbsp;</td>
      <td>&nbsp;&nbsp; - 製造業の生産系管理システム（仕入・在庫・出庫・販売・事務管理)</td>
    </tr>
    
    <tr>
      <td>&nbsp;&nbsp; - 立体自動倉庫をはじめとする各種保管システム</td>
      <td>&nbsp;</td>
      <td>&nbsp;&nbsp; - システム化のご相談</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; - 高速仕分け・ピッキングシステム</td>
      <td>&nbsp;</td>
      <td>&nbsp;&nbsp; - システム設計</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; - 無人搬送車（ビーグル）</td>
      <td>&nbsp;</td>
      <td>&nbsp;&nbsp; - プログラミング</td>
    </tr>
      <tr>
      <td>&nbsp;&nbsp; - 倉庫内、工場内、配送センター内コンベアシステム</td>
      <td>&nbsp;</td>
      <td>&nbsp;&nbsp; - オフショア開発</td>
      </tr>
    
    <tr>
      <td>&nbsp;&nbsp; - オフショア設計</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; - ２Ｄ　AUTOCAD</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>自動車部品製造工場の設備設計</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      <tr>
      <td>&nbsp;&nbsp; - 製造ラインのコンセプトデザイン</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      </tr>
    <tr>
      <td>&nbsp;&nbsp; - ２Ｄ　AUTOCAD</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; - ３Ｄ　Ｉ－ＣＡＤ、ＣＡＴＩＡ</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>



      <!-- Service -->
    <hr class="featurette-divider">
    
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; THAI DCR Company &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>


     