

<div class="alignCenter">
    <div cdkDropListGroup>
      <div class="example-container" >
        <h2>Available items</h2>
  
        <div  cdkDropListSortingDisabled
          (cdkDropListDropped)="drop($event)">
          <div class="example-box-rec" *ngFor="let item of items" cdkDrag>
            <div style="margin-left: 10px; margin-top: 10px; width: 100%; text-align: left;"> {{item.name}}</div>
            <div style="width: 100%; text-align: center;"> {{item.price}} Baht</div>
          </div>
        </div>
      </div>
      
      <div class="example-container">
        <canvas id="myChart"></canvas>
        <h2>Shopping basket</h2>
        
        <div  (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
          <div class="example-box-list" *ngFor="let item of basket" cdkDrag>
            <div style="width: 33%;">{{item.name}}</div>
            <div style="width: 33%;"><input type="number" [(ngModel)]="item.sumUnit" value="0" min="0" [max]="item.quantity" (click)="getarreach(item.price,item.sumUnit,basket.indexOf(item))"></div>
            <div style="width: 33%;"> {{item.price*item.sumUnit}}Baht</div>
          </div>
        </div>
        <div style="height: 70px; border-width: 1px; align-content: flex-start; flex-direction: row; flex-wrap: wrap; background-color:burlywood; box-sizing: border-box;">
          <div style="padding-left: 10px; padding-top: 10px; text-align: left;"> Total</div>
          <div style="width: 100%; text-align: center;">
            <h4>{{getSum()}} Baht </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  