<p>
    child works! {{count}}
    <button (click)="clearCount()" >Clear</button>
  </p>




    <!--1st-->
     <table class="table border">
         
        <tr *ngFor="let row of dummyArr">
            <td>
             {{row}} 
            </td>

       </tr>
    </table>


    <!--2nd-->
    <table class="table border">
         
        <tr *ngFor="let ele of genDummyArr()">
            <td>
             {{ele}} 
            </td>

       </tr>
    </table>



  
 <!-- <table class="table border">
      <tbody>
        <tr>
          <td> No </td>
 </tr>
          <tr *ngFor="let row of rows; let i = index">
              <td> {{count}} </td>
     </tr>
      </tbody>
    </table>-->